

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=320" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Gauge</title>
  <script type="text/javascript" src="http://d3js.org/d3.v2.min.js"></script>
  <style>
  body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 32px;
  }

  .gauge g.arc {
    fill: steelblue;
  }

  .gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
  }
  
  .gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
  }
  </style>
</head>
<body>



<div><h2 class="text-center"> WE HOLD THESE TRUTHS TO BE SELF-EVIDENT, THAT ALL MEN ARE CREATED EQUAL</h2></div>
<br><br>
<div class="container-fluid"> 

  <% @crises.each do |crisis| %>
 <!-- the following line needs to be removed after tested (with it's 'end') -->
     


    <div class="col-xs-12 col-sm-4" >
      <!-- have to escape the above for security -->
    <h4 class="text-center" ><strong><%=crisis.name%></strong></h4 >
    <br>
      <div class="row" align="center" id=<%="power-gauge_#{crisis.id}"%>></div>
      <div class="text-center" >Tweets per Minute</div>
      <div class="crisis_unit" style="background-image: url(<%=asset_path "#{crisis.id}.png"%>)">

      <h5 class="text-center" ><strong>Casulaties</strong></h5 >
      <br><br><br>
      <table class="table table-bordered" >
        <!-- <tr><th align="left">This Week:<th><td>number_here</td></tr> -->
        <!-- <tr><th align="left">This Month:<th><td>number_here</td></tr> --> 
        <tr><th align="left">This Year:</th><td><%=crisis.get_curr_year_casualties%></td></tr>
        <tr><th align="left">Last Year:</th><td><%=crisis.get_last_year_casualties%></td></tr> 
        <tr><th align="left">Total:</th><td><%=crisis.get_total_casualties%></td></tr>    
      </table>
      <br><br>
      </div>
      <br>
      <br>
    </div>
  
  <%end%>

</div>

<!-- <button class="btn btn-success" id="load-tweets">Start Measuring</button>
 -->


</body>
</html>




