

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=320" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Gauge</title>
  <script type="text/javascript" src="http://d3js.org/d3.v2.min.js"></script>
  <style>
  body {
    font-family:  Helvetica, Arial, sans-serif;
    margin: 32px;
  }

  .gauge g.arc {
    fill: steelblue;
  }

  .gauge g.pointer {
    fill: #e85116;
    stroke: #b64011;
  }
  
  .gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
  }
  </style>
</head>
<body>




<div class="container-fluid"> 

<% @crises.each do |crisis| %>
 <!-- the following line needs to be removed after tested (with it's 'end') -->
     


<div class="crisis_unit col-xs-12 col-sm-4">
<div class="row" align="center" id=<%="power-gauge_#{crisis.id}"%>></div>
<div class="text-center">Tweets per Minute</div>
  <table class="table table-striped table-bordered">
    <caption class="text-center" ><h4><strong><%=crisis.name%></strong></h4>Casualties</caption >
    <!-- <tr><th align="left">This Week:<th><td>number_here</td></tr> -->
    <!-- <tr><th align="left">This Month:<th><td>number_here</td></tr> --> 
    <tr><th align="left">This Year:</th><td><%=crisis.get_curr_year_casualties%></td></tr>
    <tr><th align="left">Last Year:</th><td><%=crisis.get_last_year_casualties%></td></tr> 
    <tr><th align="left">Total:</th><td><%=crisis.get_total_casualties%></td></tr>    
  </table>
  <br>
  <br>
</div>
  
<%end%>

</div>

<button class="btn btn-success" id="load-tweets">Start Measuring</button>



</body>
</html>




